*target*
*.jar
*.war
*.ear
*.class
#**/WEB-INF/platform/**
*.log
*.orig
*.ast

# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
#*/org.eclipse.** ---fix me!
.idea
*.iml

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
faces-config.NavData
