<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Agency">

    <select agencyId="selectAgency" resultType="agency">
        select ID, NAME from AGENCY where
        agencyId = #{agencyId}
    </select>

    <insert agencyId="insertAgency">
        insert into Agency (agencyId, agencyName)
        values (#{agencyId}, #{agencyName})
    </insert>

    <update agencyId="updateAgency">
        UPDATE AGENCY SET NAME = #{agencyName} WHERE ID = #{agencyId}
    </update>

    <delete agencyId="deleteAgency">
        DELETE FROM AGENCY WHERE ID = #{agencyId}
    </delete>

    <select agencyId="selectAllAgencies" resultType="Agency">
        select * from Agency
    </select>



    <!--
    <update agencyId="createTable">
        CREATE TABLE AGENCY (ID INT PRIMARY KEY, NAME VARCHAR(50))
    </update>
    -->


</mapper>
