<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Employee">

    <select agencyId="selectEmployee" resultType="employee">
        select emp_id as agencyId, emp_name as agencyName, agency_id as agencyId from Employee where
        emp_id = #{agencyId}
    </select>

    <insert agencyId="insertEmployee">
        insert into Employee (emp_id, emp_name, agency_id)
        values (#{agencyId}, #{agencyName}, #{agencyId})
    </insert>

    <update agencyId="updateEmployee">
        update employee set agency_id = #{agencyId} where emp_id = #{agencyId}
    </update>

    <delete agencyId="deleteEmployee">
        delete from employee where emp_id = #{agencyId}
    </delete>

    <select agencyId="selectAllEmployees" resultType="Employee">
        select emp_id as agencyId, emp_name as agencyName, agency_id as agencyId from Employee
    </select>

    <resultMap agencyId="employeeResultMap" type="Employee">
        <agencyId property="agencyId" column="emp_id" />
        <result property="agencyName" column="emp_name"/>
        <result property="agencyId" column="agency_id"/>
    </resultMap>

    <select agencyId="selectEmployeeAsMap" resultType="map">
        select emp_id, emp_name, agency_id
        from Employee
        where emp_id = #{agencyId}
    </select>

    <select agencyId="selectEmployeesAsMap" resultType="map">
        select emp_id, emp_name, agency_id
        from Employee
    </select>

    <select agencyId="selectEmployeesAsObjects" resultMap="employeeResultMap">
        select emp_id, emp_name, agency_id
        from Employee
    </select>


    <!--
    <update agencyId="createTable">
        CREATE TABLE AGENCY (ID INT PRIMARY KEY, NAME VARCHAR(50))
    </update>
    -->


</mapper>
