<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="policy.mapper">

    <resultMap id="allPoliciesResult" type="Policy">
        <id property="id" column="policy_id" />
        <result property="name" column="policy_name"/>
        <result property="type" column="policy_type"/>
        <result property="number" column="policy_number"/>
        <result property="client_id" column="client_id"/>
        <result property="emp_id" column="emp_id"/>
        <result property="grossPremium" column="gross_premium"/>
        <association property="client" javaType="Client">
            <id property="id" column="client_id"/>
            <result property="name" column="client_name"/>
            <result property="phone" column="client_phone"/>
            <result property="city" column="client_city"/>
            <result property="state" column="client_state"/>
        </association>
    </resultMap>

    <select id="getAllPolicies" resultMap="allPoliciesResult">
        SELECT p.policy_id, p.policy_name, p.policy_type, p.policy_number, p.client_id, p.emp_id,p.gross_premium,
          c.client_name, c.client_phone, c.client_city, c.client_state
        FROM Policy p LEFT OUTER JOIN Client c ON p.client_id = c.client_id
    </select>

</mapper>
