<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:batch="http://www.springframework.org/schema/batch" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/batch http://www.springframework.org/schema/batch/spring-batch-3.0.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">



    <!-- JobRepository and JobLauncher are configuration/setup classes -->
    <bean id="jobRepository"
          class="org.springframework.batch.core.repository.support.MapJobRepositoryFactoryBean" />

    <bean id="jobLauncher"
          class="org.springframework.batch.core.launch.support.SimpleJobLauncher">
        <property name="jobRepository" ref="jobRepository" />
    </bean>


    <!-- ItemReader which reads from database and returns the row mapped by



    <!- Optional JobExecutionListener to perform business logic before and after the job -->
    <bean id="jobListener" class="gov.hhs.cms.afs.springbatch.AppResultJobListener" />

    <!-- Optional ItemProcessor to perform business logic/filtering on the input records -->
    <!-- <bean id="itemProcessor" class="com.levelup.AppResultItemProcessor" />-->

    <!-- Step will need a transaction manager -->
    <bean id="transactionManager"
          class="org.springframework.batch.support.transaction.ResourcelessTransactionManager" />

    <!-- Actual Job -->
    <batch:job id="examResultJob"     >
        <batch:step id="step1" allow-start-if-complete="yes" >
            <batch:tasklet>
                <batch:chunk reader="myreader"  writer="mywriter" commit-interval="100"/>
            </batch:tasklet>
        </batch:step>
        <!--<batch:listeners>
            <batch:listener ref="jobListener" />
        </batch:listeners>-->
    </batch:job>

    <bean id="fileDeletingTasklet"
          class="gov.hhs.cms.afs.springbatch.AppResultTasklet">
        <!-- <property name="directoryResource">&ndash;&gt;
             <bean id="directory"
                         class="org.springframework.core.io.FileSystemResource">
                 <constructor-arg value="target/test-outputs/test-dir" />
             </bean>
         </property>-->
    </bean>


    <bean id="myreader" class="org.springframework.batch.item.adapter.ItemReaderAdapter">
        <property name="targetObject" ref="readerService"/>
        <property name="targetMethod" value="runReportExample"/>
    </bean>

    <bean id="readerService"  class="gov.hhs.cms.afs.springbatch.AppResultTasklet">
    </bean>

    <bean id="mywriter"
          class="org.springframework.batch.item.database.JdbcBatchItemWriter">
        <property name="dataSource" ref="dataSourceTwo" />
        <property name="sql">
            <value>

                insert into reportdata(id,report)
                values (:id, :report)

            </value>
        </property>
        <!-- It will take care matching between object property and sql name parameter -->
        <property name="itemSqlParameterSourceProvider">
            <bean
                    class="org.springframework.batch.item.database.BeanPropertyItemSqlParameterSourceProvider" />
        </property>
    </bean>


    <bean id="dataSourceTwo"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/cps?verifyServerCertificate=false&amp;useSSL=true" />
        <property name="username" value="prpadmin" />
        <property name="password" value="abcd1234" />
    </bean>






</beans>