<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Client">

    <select id="selectClient" resultType="client">
        select client_id as id, client_name as NAME from CLIENT where
        client_id = #{id}
    </select>


    <select id="selectAllClients" resultType="Client">
        select * from Client
    </select>



</mapper>
