<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <typeAliases>
        <package name="com.levelup.domain" />
    </typeAliases>

    <environments default="developmentid">
        <environment id="developmentid">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <!--
                <property name="driver" value="org.apache.derby.jdbc.EmbeddedDriver" />
                <property name="url" value="jdbc:derby:myDB;create=true;user=me;password=me" />
                <property name="username" value="me" />
                <property name="password" value="me" />
                -->
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://localhost:3306/cps?verifyServerCertificate=false&amp;useSSL=true" />
                <property name="username" value="prpadmin" />
                <property name="password" value="abcd1234" />


            </dataSource>
        </environment>
    </environments>


    <mappers>
        <mapper resource="client-mapper.xml" />
        <mapper resource="policy-mapper.xml" />
    </mappers>
</configuration>