<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Policy">


    <select id="selectPolicy" resultType="policy">
        select policy_id  as id , policy_name as name , policy_type as type , policy_number as number from Policy where policy_id = #{id}
    </select>

    <select id="selectAllPolicies" resultType="Policy">
        select * from Policy
    </select>



</mapper>
