<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Resultcps">


    <resultMap id="allPoliciesResult" type="policy">
        <id property="id" column="policy_id" />
        <result property="name" column="policy_name"/>
        <result property="type" column="policy_type"/>
        <result property="number" column="policy_number"/>
    </resultMap>

    <select id="selectAllPoliciesResult" resultMap="allPoliciesResult">
        SELECT * FROM policy
    </select>

    <resultMap id="allPoliciesJoinResult" type="policy">
        <id property="id" column="policy_id" />
        <result property="name" column="policy_name"/>
        <result property="type" column="policy_type"/>
        <result property="number" column="policy_number"/>
        <result property="emp_id" column="emp_id"/>
        <collection property="clients" ofType="Client">
            <id property="id" column="client_id"/>
            <result property="name" column="client_name"/>
            <result property="phone" column="client_phone"/>
            <result property="city" column="city"/>
            <result property="state" column="state"/>

        </collection>
    </resultMap>

    <select id="selectAllPoliciesJoin" resultMap="allPoliciesJoinResult">
        SELECT A.policy_id, A.policy_name,
        A.policy_type, A.policy_number, A.emp_id , E.client_id , E.client_name, E.client_phone , E.city , E.state
        FROM POLICY A LEFT OUTER JOIN CLIENT E ON A.CLIENT_ID=E.CLIENT_ID ORDER BY emp_id
    </select>



</mapper>

